{% if page_obj.has_other_pages %}
<nav aria-label="Page navigation" class="mt-4">
    <ul class="pagination justify-content-center shadow-sm">

        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link text-dark border-0" href="?urgency={{ request.GET.urgency }}&status={{ request.GET.status }}&page={{ page_obj.previous_page_number }}">&laquo; Prev</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link border-0 text-muted">&laquo; Prev</span>
            </li>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <li class="page-item active" aria-current="page">
                    <span class="page-link bg-dark border-dark text-white rounded">{{ num }}</span>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link text-dark border-0" href="?urgency={{ request.GET.urgency }}&status={{ request.GET.status }}&page={{ num }}">{{ num }}</a>
                </li>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link text-dark border-0" href="?urgency={{ request.GET.urgency }}&status={{ request.GET.status }}&page={{ page_obj.next_page_number }}">Next &raquo;</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link border-0 text-muted">Next &raquo;</span>
            </li>
        {% endif %}

    </ul>
</nav>
{% endif %}